
server/assets/*

# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dependencies
server/build/
server/node_modules/
server/jspm_packages/
server/web_modules/

client/build/
client/node_modules/
client/jspm_packages/
client/web_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# misc
.DS_Store
.idea/